
.#{$grommet-namespace}anchor--primary,
.#{$grommet-namespace}anchor--icon-label,
.#{$grommet-namespace}anchor--primary:visited,
.#{$grommet-namespace}anchor--icon-label:visited {
  // @include link-color-check($link-color, $brand-color);
  color: $brand-color;

  @include background-context-color($brand-color, $brand-color);
  @include background-context-icon($brand-color, $brand-color);
}

.#{$grommet-namespace}anchor:link,
.#{$grommet-namespace}anchor--icon-label:link,
a:link,
.#{$grommet-namespace}anchor:visited,
.#{$grommet-namespace}anchor--icon-label:visited,
a:visited {
  color: $brand-color;
}

.#{$grommet-namespace}anchor:hover,
.#{$grommet-namespace}anchor--icon-label:hover,
a:hover {
  color: nth($brand-neutral-colors, 2);
}
